#partners {
  #logos div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  img {
    &.mw-80 {
      max-width: 80%;
    }
  
    &.mw-60 {
      max-width: 60%;
    }

    &.mw-40 {
      max-width: 40%;
    }
      
  }
}
